<navbar class="navbar"> <script>$("navbar").load(`/views/imports/navbar.html`)</script> </navbar>

<header id="banners">
  <div class="header-banner"><div class="header-blur">
    <div class="banner-title">
      <a>Shingeki no Kyojin: The Final Season Parte 2</a>
      <span><i class="fa-solid fa-calendar-days"></i>2021</span>
    </div>
    <a class="banner-description">Séculos atrás, a humanidade foi levada a quase extinção por criaturas humanóides monstruosas conhecidas como Titãs, que parecem caçar e devorar humanos não por fome, mas sim por prazer. Para garantir sua sobrevivência, os remanescentes da humanidade começaram a viver dentro de enormes muralhas, resultando em cem anos sem um único encontro com um Titã. No entanto as muralhas</a>
    <div class="banner-buttons">
      <a class="banner-play"><i class="fa-brands fa-google-play"></i> Assistir Agora</a>
      <a class="banner-more">Detalhes <i class="fa-duotone fa-align-left"></i></a>
    </div>
  </div></div>
  <div class="header-banner"><div class="header-blur"></div></div>
</header>

<script src="/public/js/main.js"></script>

